# Generic
.DS_Store
Thumbs.db

# Visual Studio
.vs
.vscode-test

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Build
dist/

# Assets
assets/

# Local Configurations
secrets.local.json
env.local.json
