/* Variables */

:root {
    --button-color: rgb(101, 37, 179);
    --button-color-dimed: rgba(101, 37, 179, 0.5);
    --button-hilit: rgb(135, 80, 199);
}

/* Main structures */

body {
    width: 360px;
    min-height: 583px;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(241, 230, 253);
    background-color: rgb(42, 26, 57);
    user-select: none;
}

#app {
    width: 100%;
    height: 100%;
}

#top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    z-index: 9999;

}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Edge */
}

/* Checkbox */

input[type="checkbox"] {
    margin: 10px;
    scale: 120%;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Copy icon */

.copy {
    width: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* Headers */

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 32px;
}

.biglogo {
    position: relative;
    margin: 0 auto;
    width: 155px;
    height: 155px;
    background-size: contain;
    background-repeat: no-repeat;
}

h2 {
    width: 80%;
    margin: 1em auto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* Header Link */

a, a:visited {
    color: #ffe36c;
}

/* Form */

form {
    text-align: center;
}

/* Buttons */

.buttonbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 9px 16px;
    border-radius: 8px;
    margin: 10px auto;
    color: white;
    background-color: var(--button-color);
    border: 0;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:active {
    transform: scale(0.97);
}

button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--button-hilit);
}

.macos button:not(:disabled):hover {
    transform: scale(1.03);
}

button.dimed {
    background-color: var(--button-color-dimed);
    pointer-events: none;
}

button .icon {
    margin-right: 8px;
}

button .icon img {
    height: 28px;
}

button .text {
    position: relative;
}

button.dimed .text {
    color: rgba(255, 255, 255, 0.5);
}

button .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    right: -40px;
    top: -5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button.butticon {
    height: 76px;
    width: 76px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.butticon img {
    margin-bottom: 5px;
}

.buttlink {
    text-align: center;
    margin: 8px;
    font-size: 12px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.buttlink:hover {
    cursor: pointer;
    color: var(--button-hilit);
}

.macos .buttlink:hover {
    transform: scale(1.03);
}

/* Inputs */

.input-text {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.input-text input {
    color: #fff;
    text-align: center;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    padding: 4px;
}

.form .input-text input {
    color: #222;
    border-bottom-color: #222;
}

.input-recovery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 30px auto;
}

.input-phrase {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 8px;
}

.input-phrase:nth-child(3n) {
    margin-right: 0;
}

.input-phrase div {
    border-bottom: 1px solid #4f4f67;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2px;
    width: 16px;
}

.input-phrase input {
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

.input-currency {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px auto;
}

.input-currency input {
    color: #222;
    text-align: right;
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-left: 9px;
    background-color: transparent;
}

.input-account {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.input-account input {
    color: #222;
    text-align: center;
    width: 280px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

/* Separators */

hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #6525b344, #6525b3, #6525b344);
}

/* Credit card */

.card {
    width: 343px;
    height: 216px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    color: white;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgb(135, 80, 199);
}

.macos .card:hover {
    transform: scale(1.02);
}

.card .name {
    position: absolute;
    left: 24px;
    top: 14px;
    font-size: 18px;
}

.card .subname {
    position: absolute;
    left: 24px;
    top: 44px;
    font-size: 10px;
}

.card .loader {
    position: absolute;
    right: 24px;
    top: 18px;
}

.loader {
    width: 24px;
    height: 24px;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
}

.loader.light {
    color: white;
}

.loader.dark {
    color: black;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s loader-spin linear infinite;
}

.loader:after {
    transform: rotateY(70deg);
    animation-delay: .4s;
}

.loader.light:after {
    color: white;
}

.loader.dark:after {
    color: black;
}

@keyframes loader-spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
   
.card .currency {
    position: absolute;
    right: 24px;
    top: 70px;
    font-size: 10px;
}

.card .amount {
    position: absolute;
    right: 24px;
    top: 85px;
    font-size: 18px;
}

.card .account1 {
    position: absolute;
    left: 24px;
    bottom: 74px;
    font-size: 17px;
    font-family: "Courier New";
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
}

.card .account2 {
    position: absolute;
    left: 24px;
    bottom: 58px;
    font-size: 10px;
    font-family: "Courier New";
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
}

.card img.logo {
    position: absolute;
    left: 24px;
    bottom: 14px;
    width: 120px;
}

.card .open {
    position: absolute;
    right: 24px;
    bottom: 14px;
    font-size: 10px;
}

.card .open svg {
    margin-bottom: -4px;
}

/* Coins */

.coins {
    display: flex;
    flex-direction: row;
    overflow: auto clip;
    white-space: nowrap;
    scrollbar-width: none;
    height: 44px;
    margin-bottom: 20px;
}

.coins > :first-child {
    margin-left: 10px;
}

.coins::-webkit-scrollbar {
    display: none;
}

.coins:empty {
    height: 0;
    margin-bottom: 0;
}

.history .entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.history .title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.history .own {
    font-size: 10px;
    font-weight: 500;
    color: #a0a0a0;
    margin-left: 6px;
    border: 1px solid #a0a0a0;
    padding: 0px 4px 2px 4px;
    border-radius: 4px;
}

.history .own.suspicious {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.history .token-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}

.history .nft-image {
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}

.history .token-image svg, .history .token-image svg image,
.history .nft-image svg, .history .nft-image svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history .amount {
    font-size: 14px;
    font-weight: 500;
}

.add-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}

.add-circle:hover {
    cursor: pointer;
}

.macos .add-circle:hover {
    transform: scale(1.03);
}

.add-circle .plus,
.history .entry .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--button-color);
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history .entry .circle.recv {
    background-color: #25b371;
}

.history .entry .circle.error {
    background-color: #b33925;
}

.add-circle .plus img,
.history .entry .circle img {
    width: 30px;
    height: 30px;
}

.add-circle:hover .plus {
    background-color: var(--button-hilit);
}

.add-circle .label {
    margin: 0 10px;
    font-size: 12px;
}

.token-balance {
    flex: 0 0 113px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.token-balance:hover {
    cursor: pointer;
}

.macos .token-balance:hover,
.macos .cover:hover {
    transform: scale(1.11);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.token-balance .token-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    font-weight: 500;
    background-color: #e4990e;
    font-size: 12px;
    background-size: contain;
}

.token-balance .label {
    margin: 0 10px;
    font-size: 12px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.token-balance:hover .label {
    text-shadow: 0 0 6px rgb(135, 80, 199);
}

/* Cover (NFT) */

.nfts {
    display: flex;
    flex-direction: row;
    overflow: auto visible;
    white-space: nowrap;
    scrollbar-width: none;
    height: 54px;
    margin-bottom: 10px;
    gap: 7px;
}

.nfts > :first-child {
    margin-left: 10px;
}

.nfts:empty {
    height: 0;
    margin-bottom: 0;
}

.cover {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    background-color: #4f4f67;
    transition: transform 0.3s ease-in-out;
}

.cover:hover {
    cursor: pointer;
}

.cover svg, .cover svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* QR code */

.qrcode {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/* Bottom sheet */

#sheet {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 75%;
    color: #222;
    background-color: white;
    border-radius: 16px 16px 0 0;
    transition: bottom 0.5s ease;
    overflow-y: auto;
}

#sheet.visible {
    bottom: 0;
}

#sheet .handler {
    position: fixed;
    width: 10%;
    height: 4px;
    margin: 14px calc(50% - 20px);
    font-size: 20px;
    border-radius: 2px;
    background-color: #555;
    transition: background-color 0.3s ease-in-out;
}

#sheet .handler:hover {
    background-color: #888;
    cursor: grab;
}

#sheet h1 {
    color: #222;
    text-align: center;
    margin: 38px auto 20px auto;
}

#sheet .x {
    position: fixed;
    right: 6px;
    margin-top: 6px;
    color: white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
}

#sheet .x:hover {
    background-color: #888;
    cursor: pointer;
}

#sheet .content {
    font-size: 12px;
    padding: 0px 25px 25px 25px;
}

#sheet .content .form {
    display: flex;
    flex-direction: column;
}

#sheet .content .form h3 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

#sheet .content .form .line {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sheet .content .form .button-description {
    font-size: 10px;
    text-align: center;
    color: rgb(136, 136, 136);
}

#sheet .content .form h1 .token-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#sheet .content .form h1 span {
    font-size: 20px;
}

#sheet .content .form .preview-token {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 12px auto;
}

#sheet .content .form .preview-nft {
    width: 80px;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 12px auto;
}

#sheet .content .form .info-token,
#sheet .content .form .info-nft {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

#sheet .content .form .preview-nft svg,
#sheet .content .form .preview-nft image,
#sheet .content .form .nft svg,
#sheet .content .form .nft image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sheet .content .form .nft {
    width: 50%;
    margin: 0 auto;
}

#sheet .content .form .address {
    text-align: center;
    width: 80%;
    margin: 0 auto 20px auto;
}

#sheet .content .form .address.account {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

#sheet .content .form .address.principal {
    hyphens: manual;
    -webkit-hyphens: manual;
}

#sheet .end {
    margin-bottom: 40px;
}

/* Effects */

.backlight::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: inherit;
    filter: blur(20px) brightness(110%);
    transform: scale(1.0);
    z-index: -1;
    transition: transform 1.5s ease;
}

.backlight:hover::after {
    transform: scale(1.1);
}

/* Tweaks */

#new-password-ok {
    margin-top: 20px;
}

#import-account {
    margin-bottom: 29px;
}

#button-bar-buy-icon img {
    width: 35px;
    height: 35px;
    padding: 2px;
}
