/* Main structures */

body {
    width: 360px;
    min-height: 583px;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--light-color);
    background-color: var(--background-color);
    user-select: none;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

#top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    z-index: 9999;

}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

/* Scroll */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.sheet::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.sheet::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sheet::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.7);
}

.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Edge */
}

/* Burger menu */

.burger {
    position: absolute;
    right: 20px;
    top: 27px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    z-index: 10;
}

/* Drawer menu */

#main-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
    overflow: hidden;
}

#main-panel.drawer-open {
    transform: translateX(-85%);
}

#main-panel-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#drawer-panel {
    position: fixed;
    top: 0;
    right: -85%;
    width: 85%;
    height: 100%;
    transition: right 0.3s ease;
    z-index: 2;
    overflow-y: auto;
}

#drawer-panel.drawer-open {
    right: 0;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
}

/* Checkbox */

input[type="checkbox"] {
    margin: 10px;
    scale: 120%;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Copy icon */

.copy {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* Headers */

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 32px;
}

.biglogo {
    position: relative;
    margin: 0 auto;
    width: 155px;
    height: 155px;
    background-size: contain;
    background-repeat: no-repeat;
}

h2 {
    width: 80%;
    margin: 1em auto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

h4 {
    width: var(--main-width);
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    margin: 40px auto 0 auto;
}

h5 {
    width: var(--main-width);
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    margin: 8px auto;
}

.product-title {
    text-align: center;
    margin-bottom: 25px;
}

.product-title .product-logo {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

/* Header Link */

a, a:visited {
    color: #ffe36c;
}

/* Separators */

hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #6525b344, #6525b3, #6525b344);
}

/* QR code */

.qrcode {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/* Effects */

.backlight::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: inherit;
    filter: blur(20px) brightness(110%);
    transform: scale(1.0);
    z-index: -1;
    transition: transform 1.5s ease;
}

.backlight:hover::after {
    transform: scale(1.1);
}

/* Tweaks */

#new-password-ok {
    margin-top: 20px;
}

#import-account {
    margin-bottom: 29px;
}

#button-bar-buy-icon img {
    width: 35px;
    height: 35px;
    padding: 2px;
}
