/* Main structures */

body {
    width: 360px;
    min-height: 583px;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(241, 230, 253);
    background-color: rgb(42, 26, 57);
    user-select: none;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

#top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    z-index: 9999;

}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Scroll */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.sheet::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.sheet::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sheet::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.7);
}

.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Edge */
}

/* Burger menu */

.burger {
    position: absolute;
    right: 20px;
    top: 27px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    z-index: 10;
}

/* Drawer menu */

#main-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
    overflow: hidden;
}

#main-panel.drawer-open {
    transform: translateX(-85%);
}

#main-panel-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#drawer-panel {
    position: fixed;
    top: 0;
    right: -85%;
    width: 85%;
    height: 100%;
    transition: right 0.3s ease;
    z-index: 2;
    overflow-y: auto;
}

#drawer-panel.drawer-open {
    right: 0;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
}

/* Checkbox */

input[type="checkbox"] {
    margin: 10px;
    scale: 120%;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Copy icon */

.copy {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* Headers */

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 32px;
}

.biglogo {
    position: relative;
    margin: 0 auto;
    width: 155px;
    height: 155px;
    background-size: contain;
    background-repeat: no-repeat;
}

h2 {
    width: 80%;
    margin: 1em auto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* Header Link */

a, a:visited {
    color: #ffe36c;
}

/* Form */

.form {
    text-align: center;
}

.form a, .form a:visited {
    color: var(--button-color);
}

/* Buttons */

.buttonbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 9px 16px;
    border-radius: 8px;
    margin: 10px auto;
    color: white;
    background-color: var(--button-color);
    border: 0;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:active {
    transform: scale(0.97);
}

button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--button-hilit);
}

.macos button:not(:disabled):hover {
    transform: scale(1.03);
}

button.dimed {
    background-color: var(--button-color-dimed);
    pointer-events: none;
}

button .icon {
    margin-right: 8px;
}

button .icon img {
    height: 28px;
}

button .text {
    position: relative;
}

button.dimed .text {
    color: rgba(255, 255, 255, 0.5);
}

button .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    right: -40px;
    top: -5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button.butticon {
    height: 76px;
    width: 76px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.butticon img {
    margin-bottom: 5px;
}

.buttlink {
    text-align: center;
    margin: 8px;
    font-size: 12px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.buttlink:hover {
    cursor: pointer;
    color: var(--button-hilit);
}

.macos .buttlink:hover {
    transform: scale(1.03);
}

/* Inputs */

.input-text {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    position: relative;
}

.input-text input {
    color: #fff;
    text-align: center;
    width: 280px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    padding: 4px;
}

.input-text .ghost-input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 280px;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 4px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    z-index: 0;
}

.form .input-text input:not(.ghost-input) {
    position: relative;
    background: transparent;
    z-index: 1;
}

.form .input-text input {
    color: #222;
    border-bottom: 1px solid #4f4f67;
    text-align: left;
}

.form .input-text .ghost-input {
    color: rgba(34, 34, 34, 0.3);
}

.input-recovery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 30px auto;
}

.input-phrase {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 8px;
}

.input-phrase:nth-child(3n) {
    margin-right: 0;
}

.input-phrase div {
    border-bottom: 1px solid #4f4f67;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2px;
    width: 16px;
}

.input-phrase input {
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

.input-currency {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px auto;
}

.form .input-currency input {
    color: #222;
    text-align: right;
    width: 200px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-left: 30px;
    padding-right: 0;
    background-color: transparent;
}

.input-currency .note {
    color: #4a4a4a;
    position: absolute;
    right: 1px;
    bottom: 10px;
}

.input-account {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    position: relative;
}

.input-account input {
    color: #222;
    text-align: left;
    width: 280px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

.input-icon {
    cursor: pointer;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    bottom: 2px;
    background-color: #fff;
    z-index: 2;
}

/* Separators */

hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #6525b344, #6525b3, #6525b344);
}

/* QR code */

.qrcode {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/* Effects */

.backlight::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: inherit;
    filter: blur(20px) brightness(110%);
    transform: scale(1.0);
    z-index: -1;
    transition: transform 1.5s ease;
}

.backlight:hover::after {
    transform: scale(1.1);
}

/* Tweaks */

#new-password-ok {
    margin-top: 20px;
}

#import-account {
    margin-bottom: 29px;
}

#button-bar-buy-icon img {
    width: 35px;
    height: 35px;
    padding: 2px;
}

/* Progress meter widget */

.progress {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(
        rgb(42, 26, 57) 0deg,
        rgb(42, 26, 57) calc(var(--progress, 0) * 3.6deg),
        #d4ebfc calc(var(--progress, 0) * 3.6deg)
    );
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress::before {
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #eff8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #2a1a39;
}
