/* Token box widget */

.token-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 2px auto;
    width: calc(300px - 26px);
    height: 50px;
}

.token-box .token-select {
    width: 40px;
    height: 40px;
}

.token-box .token-select img {
    width: 40px;
    height: 40px;
}

.token-box .token-label {
    margin-left: 8px;
    font-size: 16px;
}

.token-box .input-text.input-currency input {
    width: 150px;
    margin: 20px 0 20px auto;
    padding-right: 0;
}

.exchange-arrow {
    width: 0;
    height: 0;
    display: inline-block;
    position: relative;
    font-size: 0;
    pointer-events: none;
    left: 50%;
    overflow: visible;
    z-index: 11;
}

.exchange-arrow .arrow-content {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bdbdbd;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
