/* Cover (NFT) */

.nfts {
    display: flex;
    flex-direction: row;
    overflow: auto visible;
    white-space: nowrap;
    scrollbar-width: none;
    height: 54px;
    margin-bottom: 16px;
    gap: 7px;
}

.nfts > :first-child {
    margin-left: 10px;
}

.nfts:empty {
    height: 0;
    margin-bottom: 0;
}

.cover {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    background-color: #4f4f67;
    transition: transform 0.3s ease-in-out;
}

.cover:hover {
    cursor: pointer;
}

.cover svg, .cover svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
