
/* Steps box widget */

.steps-box {
    background-color: #e7e7e7;
    border-radius: 8px;
    margin: 2px auto;
    padding: 16px;
    position: relative;
    width: calc(300px - 32px);
}

.step {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 24px;
}

.step:last-child {
    margin-bottom: 0;
}

.step-nr {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #575757;
    color: white;
    font-weight: bold;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.step.current .step-nr {
    background: var(--button-color);
}

.sheet .step-content h1 {
    color: #575757;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 0;
    text-align: left;
}

.step-content p {
    color: #2c2c2c;
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
}

.step:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 9px; 
    top: 20px;
    bottom: -24px; 
    width: 2px;
    background-image: linear-gradient(
        to bottom, 
        #5a5a5c 70%,
        transparent 30%
    );
    background-size: 2px 10px;
    background-repeat: repeat-y;
    z-index: 0;
}

/* Task manager widget */

.tasks {
    width: 343px;
    height: 108px;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    color: #2a1a39;
    background-color: #eff8ff;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 16px #a30bbf;
    display: flex;
    flex-direction: row;
}

.tasks:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #a30bbf;
}

.macos .tasks:hover {
    transform: scale(1.02);
}

.tasks .tasks-left {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasks .task-title {
    margin: 12px 0 0 24px;
    text-align: left;
    font-weight: 500;
}

.tasks .task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin: 3px 0 3px 24px;
    width: 80%;
}

.tasks .task-item span {
    font-weight: bold;
    margin-left: auto;
}

.tasks .task-link {
    margin-left: 24px;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 12px;
}
