.tab-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.tab-bar .tab-bar-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-bar .tab-bar-icon img {
    width: 32px;
    height: 32px;
}

.tab-bar .tab-bar-icon img.with-title {
    width: 22px;
    height: 22px;
}

.tab-bar .tab-bar-icon span {
    color: #333;
    font-size: 12px;
}
