/* Generic Tile Styles */

.tile {
    width: var(--main-width);
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    color: #2a1a39;
    background-color: #eff8ff;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 16px #a30bbf;
    display: flex;
}

.tile.square {
    width: calc(var(--main-width) / 2 - 10px);
    aspect-ratio: 1 / 1;
    margin: 0;
}

.tile.full {
    height: 108px;
}

.tile.big {
    height: 216px;
}

.tile:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #a30bbf;
}

.macos .tile:hover {
    transform: scale(1.02);
}

.tile .title {
    margin: 16px 24px 8px 24px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.tile-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--main-width);
    margin: 0 auto;
}