/* Variables */

:root {
    --button-color: rgb(101, 37, 179);
    --button-color-dimed: rgba(101, 37, 179, 0.5);
    --button-hilit: rgb(135, 80, 199);
    --button-ultralit: rgb(206, 162, 255);
}

/* Main structures */

body {
    width: 360px;
    min-height: 583px;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(241, 230, 253);
    background-color: rgb(42, 26, 57);
    user-select: none;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

#top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    z-index: 9999;

}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Scroll */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Edge */
}

/* Burger menu */

.burger {
    position: absolute;
    right: 20px;
    top: 27px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    z-index: 10;
}

/* Drawer menu */

#main-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
    overflow: hidden;
}

#main-panel.drawer-open {
    transform: translateX(-85%);
}

#main-panel-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#drawer-panel {
    position: fixed;
    top: 0;
    right: -85%;
    width: 85%;
    height: 100%;
    transition: right 0.3s ease;
    z-index: 2;
    overflow-y: auto;
}

#drawer-panel.drawer-open {
    right: 0;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
}

/* Checkbox */

input[type="checkbox"] {
    margin: 10px;
    scale: 120%;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Copy icon */

.copy {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* Headers */

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 32px;
}

.biglogo {
    position: relative;
    margin: 0 auto;
    width: 155px;
    height: 155px;
    background-size: contain;
    background-repeat: no-repeat;
}

h2 {
    width: 80%;
    margin: 1em auto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* Header Link */

a, a:visited {
    color: #ffe36c;
}

/* Form */

.form {
    text-align: center;
}

.form a, .form a:visited {
    color: var(--button-color);
}

/* Buttons */

.buttonbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding: 9px 16px;
    border-radius: 8px;
    margin: 10px auto;
    color: white;
    background-color: var(--button-color);
    border: 0;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:active {
    transform: scale(0.97);
}

button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--button-hilit);
}

.macos button:not(:disabled):hover {
    transform: scale(1.03);
}

button.dimed {
    background-color: var(--button-color-dimed);
    pointer-events: none;
}

button .icon {
    margin-right: 8px;
}

button .icon img {
    height: 28px;
}

button .text {
    position: relative;
}

button.dimed .text {
    color: rgba(255, 255, 255, 0.5);
}

button .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    right: -40px;
    top: -5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button.butticon {
    height: 76px;
    width: 76px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.butticon img {
    margin-bottom: 5px;
}

.buttlink {
    text-align: center;
    margin: 8px;
    font-size: 12px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.buttlink:hover {
    cursor: pointer;
    color: var(--button-hilit);
}

.macos .buttlink:hover {
    transform: scale(1.03);
}

/* Inputs */

.input-text {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    position: relative;
}

.input-text input {
    color: #fff;
    text-align: center;
    width: 280px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    padding: 4px;
}

.input-text .ghost-input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 280px;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 4px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    z-index: 0;
}

.form .input-text input:not(.ghost-input) {
    position: relative;
    background: transparent;
    z-index: 1;
}

.form .input-text input {
    color: #222;
    border-bottom: 1px solid #4f4f67;
    text-align: left;
}

.form .input-text .ghost-input {
    color: rgba(34, 34, 34, 0.3);
}

.input-recovery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 30px auto;
}

.input-phrase {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 8px;
}

.input-phrase:nth-child(3n) {
    margin-right: 0;
}

.input-phrase div {
    border-bottom: 1px solid #4f4f67;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2px;
    width: 16px;
}

.input-phrase input {
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

.input-currency {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px auto;
}

.form .input-currency input {
    color: #222;
    text-align: right;
    width: 200px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-left: 30px;
    padding-right: 0;
    background-color: transparent;
}

.input-currency .note {
    color: #4a4a4a;
    position: absolute;
    right: 1px;
    bottom: 10px;
}

.input-account {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    position: relative;
}

.input-account input {
    color: #222;
    text-align: left;
    width: 280px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

.input-icon {
    cursor: pointer;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    bottom: 2px;
    background-color: #fff;
    z-index: 2;
}

/* Separators */

hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #6525b344, #6525b3, #6525b344);
}

/* Credit card */

.card {
    width: 343px;
    height: 216px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: 20px auto;
    position: relative;
    color: white;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgb(135, 80, 199);
}

.macos .card:hover {
    transform: scale(1.02);
}

.card .name {
    position: absolute;
    left: 24px;
    top: 14px;
    font-size: 18px;
}

.card .subname {
    position: absolute;
    left: 24px;
    top: 44px;
    font-size: 10px;
}

.card .loader {
    position: absolute;
    right: 24px;
    top: 18px;
}

.loader {
    width: 24px;
    height: 24px;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
}

.loader.light {
    color: white;
}

.loader.dark {
    color: black;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s loader-spin linear infinite;
}

.loader:after {
    transform: rotateY(70deg);
    animation-delay: .4s;
}

.loader.light:after {
    color: white;
}

.loader.dark:after {
    color: black;
}

@keyframes loader-spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
   
.card .currency {
    position: absolute;
    right: 24px;
    top: 70px;
    font-size: 10px;
}

.card .amount {
    position: absolute;
    right: 24px;
    top: 85px;
    font-size: 18px;
}

.hide-balances .card .amount {
    filter: blur(4px);
}    

.card .account1 {
    position: absolute;
    left: 24px;
    bottom: 74px;
    font-size: 17px;
    font-family: "Courier New";
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
}

.card .account2 {
    position: absolute;
    left: 24px;
    bottom: 58px;
    font-size: 10px;
    font-family: "Courier New";
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
}

.card img.logo {
    position: absolute;
    left: 24px;
    bottom: 14px;
    width: 120px;
}

.card .open {
    position: absolute;
    right: 18px;
    bottom: 10px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.card .open img {
    margin-bottom: -1px;
}

/* Coins */

.coins {
    display: flex;
    flex-direction: row;
    overflow: auto clip;
    white-space: nowrap;
    scrollbar-width: none;
    height: 44px;
    margin-bottom: 20px;
}

.coins > :first-child {
    margin-left: 10px;
}

.coins::-webkit-scrollbar {
    display: none;
}

.coins:empty {
    height: 0;
    margin-bottom: 0;
}

.history .entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.history .title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.history .subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history .subtitle .own {
    font-size: 10px;
    font-weight: 500;
    color: #a0a0a0;
    margin-left: 6px;
    border: 1px solid #a0a0a0;
    padding: 0px 4px 2px 4px;
    border-radius: 4px;
    display: inline-block;
}

.history .own.suspicious {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.history .token-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.history .nft-image {
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}

.history .token-image svg, .history .token-image svg image,
.history .nft-image svg, .history .nft-image svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history .amount {
    font-size: 14px;
    font-weight: 500;
    margin-left: auto;
    margin-right: 8px;
    text-align: right;
}

.hide-balances .history .amount {
    filter: blur(4px);
}

.add-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}

.add-circle:hover {
    cursor: pointer;
}

.macos .add-circle:hover {
    transform: scale(1.03);
}

.add-circle .plus,
.history .entry .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--button-color);
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history .entry .circle.recv {
    background-color: #25b371;
}

.history .entry .circle.error {
    background-color: #b33925;
}

.add-circle .plus img,
.history .entry .circle img {
    width: 30px;
    height: 30px;
}

.add-circle:hover .plus {
    background-color: var(--button-hilit);
}

.add-circle .label {
    margin: 0 10px;
    font-size: 12px;
}

.add-circle.dark .label {
    color: #333;
}

.token-balance {
    flex: 0 0 113px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.token-balance:hover {
    cursor: pointer;
}

.macos .token-balance:hover,
.macos .cover:hover {
    transform: scale(1.11);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.token-balance .token-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    font-weight: 500;
    background-color: #e4990e;
    font-size: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.token-balance .label {
    margin: 0 10px;
    font-size: 12px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.token-balance:hover .label {
    text-shadow: 0 0 6px rgb(135, 80, 199);
}

.hide-balances .token-balance .amount {
    filter: blur(4px);
}

/* Cover (NFT) */

.nfts {
    display: flex;
    flex-direction: row;
    overflow: auto visible;
    white-space: nowrap;
    scrollbar-width: none;
    height: 54px;
    margin-bottom: 16px;
    gap: 7px;
}

.nfts > :first-child {
    margin-left: 10px;
}

.nfts:empty {
    height: 0;
    margin-bottom: 0;
}

.cover {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    background-color: #4f4f67;
    transition: transform 0.3s ease-in-out;
}

.cover:hover {
    cursor: pointer;
}

.cover svg, .cover svg image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* QR code */

.qrcode {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/* Bottom sheet */

.sheet {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 75%;
    color: #222;
    background-color: white;
    border-radius: 36px 36px 0 0;
    transition: bottom 0.5s ease;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.sheet.visible {
    bottom: 0;
}

.sheet .handler {
    position: fixed;
    width: 10%;
    height: 4px;
    margin: 14px calc(50% - 20px);
    font-size: 20px;
    border-radius: 2px;
    background-color: #555;
    transition: background-color 0.3s ease-in-out;
    z-index: 20;
}

.sheet .handler:hover {
    background-color: #888;
    cursor: grab;
}

.sheet h1 {
    color: #222;
    text-align: center;
    margin: 38px auto 20px auto;
}

.sheet .x {
    position: fixed;
    right: 16px;
    margin-top: 14px;
    color: white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
    z-index: 20;
}

.sheet .x:hover {
    background-color: #888;
    cursor: pointer;
}

.sheet .content {
    font-size: 12px;
    padding: 0px 25px 25px 25px;
    min-height: 80%;
    display: flex;
    flex-direction: column;
}

.sheet .content .form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.sheet .content .form .token-amount {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.hide-balances.sheet .content .form .token-amount span {
    filter: blur(4px);
}

.sheet .content .form h3 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.sheet .content .form .line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet .content .form .button-description {
    font-size: 10px;
    text-align: center;
    color: rgb(136, 136, 136);
}

.sheet .content .form h1 .token-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sheet .content .form h1 .token-image svg {
    width: 40px;
    height: 40px;
}

.sheet .content .form h1 span {
    font-size: 20px;
}

.sheet .content .form .preview-token {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 12px auto;
}

.sheet .content .form .preview-nft {
    width: 80px;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 12px auto;
}

.sheet .content .form .info-token,
.sheet .content .form .info-nft {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

.sheet .content .form .preview-nft svg,
.sheet .content .form .preview-nft image,
.sheet .content .form .nft svg,
.sheet .content .form .nft image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sheet .content .form .nft {
    width: 50%;
    margin: 0 auto;
}

.sheet .content .form .address {
    text-align: center;
    width: 80%;
    margin: 0 auto 20px auto;
}

.sheet .content .form .address.account {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

.sheet .content .form .address.principal {
    hyphens: manual;
    -webkit-hyphens: manual;
}

.end {
    padding-bottom: 30px;
}

/* Token box widget */

.token-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 2px auto;
    width: calc(300px - 26px);
    height: 50px;
}

.token-box .token-select {
    width: 40px;
    height: 40px;
}

.token-box .token-select img {
    width: 40px;
    height: 40px;
}

.token-box .token-label {
    margin-left: 8px;
    font-size: 16px;
}

.token-box .input-text.input-currency input {
    width: 150px;
    margin: 20px 0 20px auto;
    padding-right: 0;
}

.exchange-arrow {
    width: 0;
    height: 0;
    display: inline-block;
    position: relative;
    font-size: 0;
    pointer-events: none;
    left: 50%;
    overflow: visible;
    z-index: 11;
}

.exchange-arrow .arrow-content {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bdbdbd;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Steps box widget */

.steps-box {
    background-color: #e7e7e7;
    border-radius: 8px;
    margin: 2px auto;
    padding: 16px;
    position: relative;
    width: calc(300px - 32px);
}

.step {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 24px;
}

.step:last-child {
    margin-bottom: 0;
}

.step-nr {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #575757;
    color: white;
    font-weight: bold;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.step.current .step-nr {
    background: var(--button-color);
}

.sheet .step-content h1 {
    color: #575757;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 0;
    text-align: left;
}

.step-content p {
    color: #2c2c2c;
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
}

.step:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 9px; 
    top: 20px;
    bottom: -24px; 
    width: 2px;
    background-image: linear-gradient(
        to bottom, 
        #5a5a5c 70%,
        transparent 30%
    );
    background-size: 2px 10px;
    background-repeat: repeat-y;
    z-index: 0;
}

/* Summary box widget */

.summary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #d7d7d7;
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 12px 16px;
    margin: 2px auto;
    width: calc(300px - 32px);
    min-height: 50px;
    font-size: 12px;
}

.summary-box .summary-row {
    margin: 2px 0;
}

/* Effects */

.backlight::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: inherit;
    filter: blur(20px) brightness(110%);
    transform: scale(1.0);
    z-index: -1;
    transition: transform 1.5s ease;
}

.backlight:hover::after {
    transform: scale(1.1);
}

/* Tweaks */

#new-password-ok {
    margin-top: 20px;
}

#import-account {
    margin-bottom: 29px;
}

#button-bar-buy-icon img {
    width: 35px;
    height: 35px;
    padding: 2px;
}

/* Progress meter widget */

.progress {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(
        rgb(42, 26, 57) 0deg,
        rgb(42, 26, 57) calc(var(--progress, 0) * 3.6deg),
        #d4ebfc calc(var(--progress, 0) * 3.6deg)
    );
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress::before {
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #eff8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #2a1a39;
}

/* Task manager widget */

.tasks {
    width: 343px;
    height: 108px;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    color: #2a1a39;
    background-color: #eff8ff;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 16px #a30bbf;
    display: flex;
    flex-direction: row;
}

.tasks:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #a30bbf;
}

.macos .tasks:hover {
    transform: scale(1.02);
}

.tasks .tasks-left {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasks .task-title {
    margin: 12px 0 0 24px;
    text-align: left;
    font-weight: 500;
}

.tasks .task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin: 3px 0 3px 24px;
    width: 80%;
}

.tasks .task-item span {
    font-weight: bold;
    margin-left: auto;
}

.tasks .task-link {
    margin-left: 24px;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 12px;
}

/* Address book widget */

.list-view {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.list-view .header {
    background-color: #f5f5f5;
    cursor: move;
    transition: opacity 0.2s;
}

.list-view .header.dragging {
    opacity: 0.5;
}

.list-view .header:not(.collapsed) {
    cursor: default;
}

.list-view .header .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-view .header .header-row h1 {
    color: #222;
    margin: 20px 16px;
}

.list-view .separator {
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    padding: 8px 0;
}

.list-view .container {
    overflow-y: hidden;
    transition: height 0.3s ease;
    background-color: #f5f5f5;
}

.list-view .container.collapsed {
    height: 0px;
}

.list-view .entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

.list-view .entry:nth-child(2) {
    padding-top: 0;
}

.list-view .entry:hover {
    background-color: var(--button-ultralit);
}

.list-view .separator:has(+ .entry:hover) {
    background-color: var(--button-ultralit);
}

.avatar {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--button-color);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-view .entry .avatar { 
    margin: 0 10px 0 6px;
    font-size: 18px;
}

.list-view .entry .middle {
    margin: 0 6px;
}

.list-view .entry .name {
    color: #444;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

.list-view .entry .value {
    color: #444;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}

.list-view .icon {
    width: 26px;
    height: 26px;
    margin-left: auto;
    cursor: pointer;
}

.list-view .infotext {
    text-align: center;
    color: #333;
    font-size: 12px;
    padding: 4px 16px 20px 16px;
    background-color: #fff;
}

.list-view .icon.edit-group {
    margin-right: 8px;
}

/* Switcher list widget <input type="checkbox" class="toggle" checked> */

.list-view .entry input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.list-view .entry input[type="checkbox"]:focus {
    outline: 0;
}

.list-view .entry .toggle {
    height: 24px;
    width: 44px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    background: linear-gradient(180deg, #b3b7c9 0%, #e1e1e1 100%);
    transition: all 0.2s ease;
    margin-left: auto;
}

.list-view .entry .toggle::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.list-view .entry .toggle:checked {
    background: rgb(101, 37, 179);
}

.list-view .entry .toggle:checked::after {
    transform: translateX(20px);
}

/* Input list widget */

.list-view .entry .input-container {
    margin-left: auto;
}

.list-view .entry input {
    text-align: right;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    width: 60px;
    padding: 0;
}

.list-view .entry .input-unit {
    margin-left: 4px;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}

/* Overwrite other classes */

.bottom {
    margin-top: auto;
}

.hidden {
    display: none;
}
