/* Variables */
:root {
    --button-color: rgb(101, 37, 179);
    --button-color-dimed: rgba(101, 37, 179, 0.5);
    --button-hilit: rgb(135, 80, 199);
}

/* Main structures */

body {
    width: 360px;
    height: 583px;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(241, 230, 253);
    background-color: rgb(42, 26, 57);
    overflow: hidden;
    user-select: none;
}

#app {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Checkbox */
input[type="checkbox"] {
    margin: 10px;
    scale: 120%;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Headers */

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 32px;
}

.biglogo {
    position: relative;
    margin: 0 auto;
    width: 155px;
    height: 155px;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 span {
    font-size: 12px;
}

h2 {
    width: 80%;
    margin: 1em auto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* Header Link */

a, a:visited {
    color: #ffe36c;
}

/* Form */

form {
    text-align: center;
}

/* Buttons */

.buttonbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    width: 300px;
    height: 40px;
    padding: 9px 64px;
    border-radius: 8px;
    margin: 10px auto;
    width: 300px;
    color: white;
    background-color: var(--button-color);
    border: 0;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:active {
    transform: scale(0.97);
}

button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--button-hilit);
}

.macos button:not(:disabled):hover {
    transform: scale(1.03);
}

button.dimed {
    background-color: var(--button-color-dimed);
}

button .text {
    position: relative;
}

button.dimed .text {
    color: rgba(255, 255, 255, 0.5);
}

button .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    right: -40px;
    top: -5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button.butticon {
    height: 76px;
    width: 76px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.butticon img {
    margin-bottom: 5px;
}

.buttlink {
    text-align: center;
    margin: 8px;
    font-size: 12px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.buttlink:hover {
    cursor: pointer;
    color: var(--button-hilit);
}

.macos .buttlink:hover {
    transform: scale(1.03);
}

/* Inputs */

.input-password {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.input-password input {
    color: #fff;
    text-align: center;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    padding: 4px;
}

.input-recovery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 30px auto;
}

.input-phrase {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 8px;
}

.input-phrase:nth-child(3n) {
    margin-right: 0;
}

.input-phrase div {
    border-bottom: 1px solid #4f4f67;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2px;
    width: 16px;
}

.input-phrase input {
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

.input-currency {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px auto;
}

.input-currency input {
    color: #222;
    text-align: right;
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-left: 9px;
    background-color: transparent;
}

.input-account {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.input-account input {
    color: #222;
    text-align: center;
    width: 280px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #4f4f67;
    outline: none;
    background-color: transparent;
}

/* Separators */

hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #6525b344, #6525b3, #6525b344);
    margin: 20px auto;
}

/* Credit card */

.card {
    width: 343px;
    height: 216px;
    background-image: url('assets/card-ICP-01.png');
    background-size: cover;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    color: white;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgb(135, 80, 199);
}

.macos .card:hover {
    transform: scale(1.02);
}

.card .name {
    position: absolute;
    left: 24px;
    top: 14px;
    font-size: 18px;
}

.card .subname {
    position: absolute;
    left: 24px;
    top: 44px;
    font-size: 10px;
}

.card .currency {
    position: absolute;
    right: 24px;
    top: 70px;
    font-size: 10px;
}

.card .amount {
    position: absolute;
    right: 24px;
    top: 85px;
    font-size: 18px;
}

.card .account1 {
    position: absolute;
    left: 24px;
    bottom: 74px;
    font-size: 17px;
    font-family: "Courier New";
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
}

.card .account2 {
    position: absolute;
    left: 24px;
    bottom: 58px;
    font-size: 10px;
    font-family: "Courier New";
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
}

.card img.logo {
    position: absolute;
    left: 24px;
    bottom: 14px;
    width: 120px;
}

.card .open {
    position: absolute;
    right: 24px;
    bottom: 14px;
    font-size: 10px;
}

.card .open svg {
    margin-bottom: -4px;
}

/* Coin */

.add-coin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.add-coin:hover {
    cursor: pointer;
}

.macos .add-coin:hover {
    transform: scale(1.03);
}

.add-coin .plus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--button-color);
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-coin .plus img {
    width: 30px;
    height: 30px;
}

.add-coin:hover .plus {
    background-color: var(--button-hilit);
}

.add-coin .label {
    margin: 0 10px;
    font-size: 12px;
}

.coin {
    
}

.macos .coin:hover {
    transform: scale(1.02);
}

/* QR code */

.qrcode {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

/* Bottom sheet */

#bottom-sheet {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #222;
    background-color: white;
    border-radius: 16px 16px 0 0;
    transition: bottom 0.5s ease;
}

#bottom-sheet.visible {
    bottom: -25%;
}

#bottom-sheet .handler {
    width: 10%;
    height: 4px;
    background-color: #555;
    margin: 14px auto;
    font-size: 20px;
    border-radius: 2px;
    transition: background-color 0.3s ease-in-out;
}

#bottom-sheet .handler:hover {
    background-color: #888;
    cursor: grab;
}

#bottom-sheet h1 {
    color: #222;
    text-align: center;
    margin: 20px auto;
}

#bottom-sheet .x {
    position: absolute;
    right: 8px;
    top: 8px;
    color: white;
    background-color: #333;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

#bottom-sheet .x:hover {
    background-color: #888;
    cursor: pointer;
}

#bottom-sheet .content {
    font-size: 12px;
    padding: 0px 25px;
}

#bottom-sheet .content .form {
    display: flex;
    flex-direction: column;
}

#bottom-sheet .content .form h3 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

#bottom-sheet .content .form .button-description {
    font-size: 10px;
    text-align: center;
    color: rgb(136, 136, 136);
}

/* Effects */

.backlight::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: inherit;
    filter: blur(20px) brightness(110%);
    transform: scale(1.0);
    z-index: -1;
    transition: transform 1.5s ease;
}

.backlight:hover::after {
    transform: scale(1.1);
}

/* Tweaks */

#new-password-ok {
    margin-top: 20px;
}

#import-account {
    margin-bottom: 29px;
}
